@font-face
{
font-family: font;
src:url(../font/font.TTF);
}

.body{
background-color: #090909; background-image:url(../imgs/bg.jpg); background-repeat:no-repeat; background-position:top center;
}

#main{
	width: 1024px;
	height: 2028px;
	background:url(../imgs/background.png);
	background-repeat:no-repeat;
	background-color:#000;
	margin: 0px auto;
	margin-top: 150px;
	position: relative;
}

#carregarFicheiros, #nome{ height: 80px; float:left; margin-top:49px;}
#carregarFicheiros, #musicas{width: 185px; margin-left:49px;}
#trackList, #nome{width: 729px; margin-left: 12px;}
#musicas, #trackList{min-height: 400px; margin-top: 12px; height:auto; padding-bottom: 20px}
.file_c{height:80px; width: 185px; opacity: 0;}
#carregarFicheiros{	background: url(../imgs/btnLoad.png) no-repeat;	background-size: 100% 100%;}
#nome{background:#000;}
#musicas{background-color:#FFF; /*Laranja*/	float:left;}
#trackList{float:left;}
#carregarFicheiros:hover{opacity:0.85;}

#audioC1{background-image:url(../imgs/fundo.png);}
#audioC2{background-image:url(../imgs/draghere.png);}
#audioC3{background-image:url(../imgs/draghere.png);}

.audioContainer, .containerUm , .containerTres, .containerDois{ height: 95px;}
.containerUm , .containerTres, .containerDois{ float:left;}
.containerTres{width: 175px;}
.containerDois{width: 54px; margin-left:12px; margin-right:12px;}
.containerUm, .titulo, .seekContainer, .trimContainer {width:476px;}
.audioContainer{margin-bottom: 12px; width: 729px;}
.titulo{height: 35px;}
.seekContainer, .trimContainer{height: 30px;}
.seek, .trim {height: 10px;}
.nome, .tempoC{margin-top:5px; height:30px; float:left; font-family: font; font-size:24px;}
.nome{margin-left: 12px; width: 310px; }
.tempoC{width: 100px; margin-right:12px; }
.mute{ height:45px; width: 175px; float:left; background-image:url(../imgs/muteOff.png); background-size: contain; background-position:center; background-repeat:no-repeat;}
.wrapper {width:434px; height:30px; float:left;}
.seek {width: 410px; margin-left: 12px; margin-right:12px; margin-top:5px;}
.trim {width: 410px; margin-left: 12px; margin-right:12px;}
.loop{ margin-left:3px; margin-top:5px; width: 22px; height:30px; background:url(../imgs/loopOff.png); background-size: contain; float: left;}
.play{ margin-left:5px; margin-top:10px; width: 20px; height:20px; background:url(../imgs/play.png); background-size: contain; float:left; }
.stop{margin-left:5px; margin-top:5px; width: 20px; height:20px; background:url(../imgs/stop.png); background-size: contain; float: left;}
.pause{width: 35px; height:35px; margin-top: 10px; margin-right:10px; background:url(../imgs/pause.png); background-size: contain; float: left;}
.volumeMenos, .volumeMais{width: 25px; height:50px;  float: left; margin-left: 5px; margin-right: 5px;}
.volumeMenos{background:url(../imgs/volumemenos.png); background-size: contain; background-repeat:no-repeat; background-position:center;}
.volumeMais{ background:url(../imgs/volumemais.png); background-size: contain; background-repeat:no-repeat; background-position:center}
.volume{width: 105px; height:30px;  float: left; margin-top: 20px};