@font-face {
	font-family: font;
	src: url(../font/font.TTF);
}

.body {
	background-image: url(../imgs/back6.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

input[type="checkbox"] {
	display: none;
}

#logo {
	width: 800px;
	height: 90px;
	background: url(../imgs/mix.png);
	margin: 0px auto;
	margin-top: 100px;
	position: relative;
}

#main {
	width: 1024px;
	height: 1024px;
	/*background: url(../imgs/background_.png);*/
	background-repeat: no-repeat;
	/*background-color: #000;*/
	margin: 0px auto;
	margin-bottom: 100px;
	/*box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.7);*/
	opacity: 0.9;
	position: relative;
}
#esquerda {
	margin-left: 49px;
	margin-top: 49px;
	width: 185px;
	height: 936px;
	float: left;
	overflow: hidden;
}
#direita {
	margin-right: 49px;
	margin-top: 49px;
	width: 729px;
	height: 936px;
	float: right;
}

#musicas {
	width: 185px;
	height: 844px;
	background-color: #FFF;
	box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.7);
}
#master {
	background-color: #FFF;
	height: 80px;
	width: 542px;
	float: left;
	box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.7);
}

#playG {
	height: 40px;
	width: 40px;
	float: left;
	background: url(../imgs/play.png);
	background-size: contain;
	margin-top: 20px;
}
#pauseG {
	height: 40px;
	width: 40px;
	float: left;
	background: url(../imgs/pause.png);
	background-size: contain;
	margin-top: 20px;
}
#stopG {
	height: 40px;
	width: 40px;
	float: left;
	background: url(../imgs/stop.png);
	background-size: contain;
	margin-top: 20px;
}

#masterL {
	background: url(../imgs/masterL.png) no-repeat;
	background-size: 100% 100%;
	height: 80px;
	width: 175px;
	float: right;
	box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.7);
}
#trackList {
	height: 856px;
	width: 729px;
	float: left;
}
#carregarFicheiros {
	width: 185px;
	height: 80px;
	background: url(../imgs/btnLoad.png) no-repeat;
	background-size: 100% 100%;
	border: none;
	box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.7);
	margin-bottom: 12px;
}

#carregarFicheiros:hover {
	opacity: 0.85;
}

.audioContainer {
	background-image: url(../imgs/draghere.png);
	margin-top: 12px;
	width: 729px;
	height: 95px;
	box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.7);
}

#audioC1 {
	background-image: url(../imgs/fundo.png);
}
.containerUm{
	width: 476px;
	height: 95px;
	float: left;
}
.containerTres {
	height: 95px;
	width: 175px;
	float: left;
}
.containerDois {
	width: 54px;
	height: 86px;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 9px;
	float: left;
}

.titulo {
	width: 476px;
	height: 35px;
}
.seekContainer, .trimContainer {
	width: 476px;
	height: 30px;
}
.seek, .trim {
	height: 20px;
}
.seek {
	width: 410px;
	margin-left: 12px;
	margin-right: 12px;
	float: left;
}
.trim {
	width: 410px;
	margin-left: 12px;
	margin-right: 12px;
	float:left;
}
.nome, .tempoC {
	margin-top: 10px;
	height: 22px;
	float: left;
	font-family: font;
	font-size: 20px;
}
.nome {
	margin-left: 12px;
	width: 310px;
	overflow: hidden;
}
.tempoC {
	width: 100px;
	margin-right: 12px;
}
.mute {
	height: 45px;
	width: 45px;
	float: left;
	background-image: url(../imgs/muteOff.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 20px;
}
.remove {
	float: left;
	width: 45px;
	height: 45px;
	background: url(../imgs/remove.png);
	background-size: contain;
	margin-right: 20px;
}
.loop {
	margin-left: 3px;
	margin-top: 5px;
	width: 22px;
	height: 30px;
	background: url(../imgs/loopOff.png);
	background-size: contain;
	float: left;
}
.play {
	width: 20px;
	height: 20px;
	margin-right:17px;
	background: url(../imgs/play.png);
	background-size: contain;
	float: right;
}
.stop {
	width: 20px;
	height: 20px;
	margin-right:17px;
	background: url(../imgs/stop.png);
	background-size: contain;
	float: right;
}
.pause {
	width: 35px;
	height: 35px;
	margin-top: 10px;
	margin-right: 10px;
	background: url(../imgs/pause.png);
	background-size: contain;
	float: left;
}
.volumeMenos, .volumeMais {
	width: 25px;
	height: 50px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
.volumeMenos {
	background: url(../imgs/volumemenos.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.volumeMais {
	background: url(../imgs/volumemais.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center
}
.volume {
	width: 105px;
	height: 30px;
	float: left;
	margin-top: 20px
};

input[type="checkbox"] {
	display: none;
}

/* checkbox 3 */
.checkbox {
	margin: 9px;
	float: left;
}
.checkbox label {
	display: block;
	cursor: pointer;
}
.checkbox label {
	width: 27px;
	height: 27px;
	border: 2px solid #000000;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	transition: 0.2s ease;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.checkbox input[type="checkbox"]:checked ~
label {
	border: 8px solid #000000;
}