@font-face
{
font-family: font;
src:url(../font/font.TTF);
}

.ajax-file-upload-statusbar {
	position:relative;
	margin-top: 12px;
	height: auto;
	width: 185px;
	background:#FFF;

}
.ajax-file-upload-filename {
	width: auto;
	height: auto;
	margin: 0 5px 5px 5px;
	color: #000;
	font-family: font;
	font-size:20px;
	overflow:hidden;
}
.ajax-file-upload-progress {
	margin: 0 10px 0px 5px;
	position: relative;
	width: 100px;
	border: 1px solid #000;
	padding: 0px;
	display: inline-block
}
.ajax-file-upload-bar {
	background-color: #5aff66;
	width: 0;
	height: 20px;
	color: #FFFFFF;
}
.ajax-file-upload-percent {
	position: absolute;
	display: inline-block;
	top: 3px;
	left: 48%
}
.ajax-file-upload-red {
	-moz-box-shadow: inset 0 39px 0 -24px #e67a73;
	-webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
	box-shadow: inset 0 39px 0 -24px #e67a73;
	background-color: #e4685d;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	color: #fff;
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	padding: 4px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 #b23e35;
	cursor: pointer;
	vertical-align: top;
	margin-right: 5px;
}
.ajax-file-upload-green {
	background-color: #000;
	margin-top: -1px;
	display: inline-block;
	color: #5aff66;
	font-family: font;
	font-size: 14px;
	padding: 3px 14px;
	text-decoration: none;
	cursor: pointer;
	text-shadow: 0 0px 0 #5b8a3c;
	vertical-align: top;
	margin-right: 5px;
}
.ajax-file-upload {
	background:url(../imgs/btnLoad.png);
	width: 185px;
	height: 80px; 
}

.ajax-file-upload:hover {
opacity:0.85;
}

.ajax-upload-dragdrop {
	border: 1px;
	width: 185px;
	height: 80px; 
}